body{
    font-family: Verdana;
    background-color: black;
    color: white;
    text-align: center;}

.header{font-size: 50px;
        font-weight: normal;
      }

.download{
  color: aquamarine;
  font-size: 16px;
        }

.personal{font-weight: 300;
          font-size: 42px;}
.place{font-size: 21px;
        color: gray;}
